<div id="title-tab">
  <div class="title-block">.</div>
  <div class="title-block" id="title">
    <h2 style="text-align: center">
      {{ tableTitle
      }}<mat-icon
        id="sync-records-icon"
        *ngIf="!isFetching"
        (click)="fetchRecords()"
      >
        sync
      </mat-icon>
      <mat-progress-spinner
        class="sync-spinner"
        mode="indeterminate"
        color="primary"
      >
      </mat-progress-spinner>
    </h2>
  </div>
  <div class="title-block">
    <button mat-icon-button (click)="createRecord()" id="add-button">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
<mat-progress-spinner class="sync-spinner" mode="indeterminate" color="primary">
</mat-progress-spinner>
<ag-grid-angular
  class="ag-theme-alpine table-style"
  [gridOptions]="gridOptions"
  [rowData]="rows"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columns"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
