.drawer-container {
  height: 100%;
  width: 100%;
  padding: 0px;
  min-height: 500px;
}

.drawer-content {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#drawer-puller {
  float: left;
  position: absolute;
  left: -15px;
  background: rgba(0, 0, 0, 0.05);
}

.selectedSection {
  border-right: 2px solid var(--shuddhi-color);
}

.unselectedSelection {
  border-right: inherit;
}
