.drawer-container {
  height: calc(100vh - 180px);
  width: 100%;
  padding: 0px;
  min-height: 500px;
}

.drawer-content {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#drawer-puller {
  float: left;
  display: block;
}

.table-style {
  width: 99%;
  height: calc(100vh - 300px);
  margin: 10px;
  min-height: 300px;
  overflow: auto;
}

#title-tab {
  overflow: hidden;
  width: 100%;
  height: 30px;
}

.title-block {
  float: left;
  width: 33%;
  text-align: center;
  margin-top: -5px;
  margin-bottom: -5px;
}

#title {
  margin-top: 2px;
}

#add-button {
  float: right;
}
