<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" [(opened)]="opened" class="drawer-content">
    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let entity of entities"
        [value]="entity"
        (click)="onSelectEntity(entity)"
      >
        {{ entity }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <div id="title-tab">
    <div class="title-block">
      <button mat-icon-button (click)="drawer.toggle()" id="drawer-puller">
        <mat-icon>{{
          opened === true ? "arrow_left" : "arrow_right"
        }}</mat-icon>
      </button>
    </div>
    <div class="title-block" id="title">
      <h2 style="text-align: center">List of {{ selectedEntity }}</h2>
    </div>
    <div class="title-block">
      <button mat-icon-button (click)="createSchool()" id="add-button">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <!-- <button (click)="openInstitutionProfile()">Open</button> -->
  <!-- <div class="table-header-button-container">
    <button
      class="table-header-button"
      *ngIf="selectedRows.length > 0"
      (click)="unselectSelectedRows()"
      mat-raised-button
      color="primary"
    >
      Deselect
    </button>
    <button
      class="table-header-button"
      *ngIf="selectedRows.length > 0"
      (click)="deleteSelectedRows()"
      mat-raised-button
      color="warn"
    >
      Delete
    </button>
  </div> -->

  <ag-grid-angular
    class="ag-theme-alpine table-style"
    [gridOptions]="gridOptions"
    [rowData]="institutions"
    [columnDefs]="columns"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</mat-drawer-container>
