<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" [(opened)]="opened" class="drawer-content">
    <mat-selection-list [multiple]="false">
      <mat-list-option
        [ngClass]="
          selectedEntity === entity ? 'selectedSection' : 'unselectedSection'
        "
        *ngFor="let entity of entities"
        [value]="entity"
        (click)="onSelectEntity(entity)"
      >
        {{ entity }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <button mat-icon-button (click)="drawer.toggle()" id="drawer-puller">
    <mat-icon>{{ opened === true ? "arrow_left" : "arrow_right" }}</mat-icon>
  </button>
  <app-institutions-table
    *ngIf="selectedEntity == institutions"
  ></app-institutions-table>
</mat-drawer-container>
