<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" [(opened)]="opened" class="drawer-content">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let entity of entities" [value]="entity">
        {{ entity }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>{{
      opened === true ? "arrow_backward" : "arrow_forward"
    }}</mat-icon>
  </button>
</mat-drawer-container>
