<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" [(opened)]="opened" class="drawer-content">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let entity of entities" [value]="entity">
        {{ entity }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <button mat-icon-button (click)="drawer.toggle()" id="drawer-puller">
    <mat-icon>{{
      opened === true ? "arrow_backward" : "arrow_forward"
    }}</mat-icon>
  </button>
  <h2 style="text-align: center">{{ tableTitle }}</h2>
  <ag-grid-angular
    class="ag-theme-alpine table-style"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
  >
  </ag-grid-angular>
</mat-drawer-container>
