.form-container {
  display: block;
  margin: auto;
}

.validation-error {
  color: red;
  position: absolute;
  display: block;
  margin-top: 20px;
}
.floating-back-button {
  position: fixed;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.05);
}

.floating-button-bottom {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.floating-button-bottom .mat-icon {
  height: 50px;
}

.center-title {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .floating-back-button {
    position: static;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.05);
  }

  .floating-button-bottom {
    position: static;
    display: block;
    margin: 20px auto;
  }
}
