<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="form-title">Member Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="memberForm"
    novalidate
    (submit)="submitForm(memberForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name of the member" />
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('name').hasError('required') && formDirective.submitted
        "
      >
        Name is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Email ID</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Name of the member"
      />
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('email').hasError('required') &&
          formDirective.submitted
        "
      >
        Email is required
      </small>
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('email').hasError('email') && formDirective.submitted
        "
      >
        Please enter a valid email
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>User Group</mat-label>
      <mat-select formControlName="type" placeholder="The type of user">
        <mat-option *ngFor="let type of userTypeOptions" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('type').hasError('required') && formDirective.submitted
        "
      >
        User type is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Institution</mat-label>
      <mat-select
        formControlName="institution"
        placeholder="The institution you belong to"
      >
        <mat-option
          *ngFor="let institution of institutionOptions$ | async"
          [value]="institution.value"
        >
          {{ institution.label }}
        </mat-option>
      </mat-select>
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('institution').hasError('required') &&
          formDirective.submitted
        "
      >
        Institution is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <textarea
        matInput
        formControlName="title"
        placeholder="Your title, if any"
      ></textarea>
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('title').hasError('maxlength') &&
          formDirective.submitted
        "
      >
        Title should be less than {{ titleMaxLength }} characters
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Bio</mat-label>
      <textarea
        matInput
        formControlName="bio"
        placeholder="Brief bio about yourself"
      ></textarea>
      <small
        class="validation-error"
        *ngIf="
          memberForm.get('bio').hasError('maxlength') && formDirective.submitted
        "
      >
        Bio should be less than {{ bioMaxLength }} characters
      </small>
    </mat-form-field>

    <button
      type="submit"
      class="floating-submit-button"
      mat-raised-button
      color="primary"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>
</div>
